<%= turbo_frame_tag dom_id(task), data: { "task-id": task.id }, target: :modal_content do %>
  <%= link_to tasklist_task_path(tasklist, task), class: "flex flex-col gap-2 bg-base-100 shadow-md px-4 py-3 max-w-md text-neutral cursor-grab" do %>
    <%= task.title %>
    <% unless task.assignees.empty? %>
      <div class="avatar-group -space-x-3">
        <% task.assignees.each do |assignee| %>
          <div class="avatar">
            <div class="w-6 rounded-full">
              <%= image_tag avatar_img_for(assignee.user, :avatar_sm) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end%>
<% end %>
