<div class='mb-5'>
  <%= turbo_frame_tag "tasks" do %>
    <%= render @tasks %>
  <% end %>
</div>
<%= turbo_frame_tag dom_id(Task.new) do %>
  <%= link_to "New task", new_task_path, class: "text-blue-400 hover:text-blue-600" %>
<% end %>
