<%= turbo_frame_tag dom_id(task, role) do %>
  <% if role == :assignees %>
    <% task.assignees.each do |assignee| %>
      <div class="avatar">
        <div class="w-6 rounded-full">
          <%= image_tag avatar_img_for(assignee.user, :avatar_sm) %>
        </div>
      </div>
    <% end %>
  <% elsif role == :followers %>
    <% task.followers.each do |follower| %>
      <div class="avatar">
        <div class="w-6 rounded-full">
          <%= image_tag avatar_img_for(follower.user, :avatar_sm) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
