<div class="px-2 flex flex-col">
  <%= link_to "Board", tasklists_path, class: "text-primary hover:underline text-lg" %>
  <%= link_to "Chat Rooms", rooms_path, class: "text-primary hover:underline text-lg" %>
</div>
